potentials/xsd/parameter.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:unixref="http://www.crossref.org/xschema/1.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="parameter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:float"/>
        <xsd:element form="qualified" minOccurs="0" name="unit" type="xsd:string"/>
        <xsd:element form="qualified" minOccurs="0" name="name" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>