potentials/xsd/Potential.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:unixref="http://www.crossref.org/xschema/1.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="chemical-element-type">
        <xsd:annotation>
            <xsd:documentation>
                <div class="summary">Allowed Chemical Element Type values.</div>
                <div class="description">
                    <p>Modified from Chemical Markup Language. The periodic table (up to element number 118. In addition the following strings are allowed: </p>
                </div>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="H"/>
            <xsd:enumeration value="He"/>
            <xsd:enumeration value="Li"/>
            <xsd:enumeration value="Be"/>
            <xsd:enumeration value="B"/>
            <xsd:enumeration value="C"/>
            <xsd:enumeration value="N"/>
            <xsd:enumeration value="O"/>
            <xsd:enumeration value="F"/>
            <xsd:enumeration value="Ne"/>
            <xsd:enumeration value="Na"/>
            <xsd:enumeration value="Mg"/>
            <xsd:enumeration value="Al"/>
            <xsd:enumeration value="Si"/>
            <xsd:enumeration value="P"/>
            <xsd:enumeration value="S"/>
            <xsd:enumeration value="Cl"/>
            <xsd:enumeration value="Ar"/>
            <xsd:enumeration value="K"/>
            <xsd:enumeration value="Ca"/>
            <xsd:enumeration value="Sc"/>
            <xsd:enumeration value="Ti"/>
            <xsd:enumeration value="V"/>
            <xsd:enumeration value="Cr"/>
            <xsd:enumeration value="Mn"/>
            <xsd:enumeration value="Fe"/>
            <xsd:enumeration value="Co"/>
            <xsd:enumeration value="Ni"/>
            <xsd:enumeration value="Cu"/>
            <xsd:enumeration value="Zn"/>
            <xsd:enumeration value="Ga"/>
            <xsd:enumeration value="Ge"/>
            <xsd:enumeration value="As"/>
            <xsd:enumeration value="Se"/>
            <xsd:enumeration value="Br"/>
            <xsd:enumeration value="Kr"/>
            <xsd:enumeration value="Rb"/>
            <xsd:enumeration value="Sr"/>
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="Zr"/>
            <xsd:enumeration value="Nb"/>
            <xsd:enumeration value="Mo"/>
            <xsd:enumeration value="Tc"/>
            <xsd:enumeration value="Ru"/>
            <xsd:enumeration value="Rh"/>
            <xsd:enumeration value="Pd"/>
            <xsd:enumeration value="Ag"/>
            <xsd:enumeration value="Cd"/>
            <xsd:enumeration value="In"/>
            <xsd:enumeration value="Sn"/>
            <xsd:enumeration value="Sb"/>
            <xsd:enumeration value="Te"/>
            <xsd:enumeration value="I"/>
            <xsd:enumeration value="Xe"/>
            <xsd:enumeration value="Cs"/>
            <xsd:enumeration value="Ba"/>
            <xsd:enumeration value="La"/>
            <xsd:enumeration value="Ce"/>
            <xsd:enumeration value="Pr"/>
            <xsd:enumeration value="Nd"/>
            <xsd:enumeration value="Pm"/>
            <xsd:enumeration value="Sm"/>
            <xsd:enumeration value="Eu"/>
            <xsd:enumeration value="Gd"/>
            <xsd:enumeration value="Tb"/>
            <xsd:enumeration value="Dy"/>
            <xsd:enumeration value="Ho"/>
            <xsd:enumeration value="Er"/>
            <xsd:enumeration value="Tm"/>
            <xsd:enumeration value="Yb"/>
            <xsd:enumeration value="Lu"/>
            <xsd:enumeration value="Hf"/>
            <xsd:enumeration value="Ta"/>
            <xsd:enumeration value="W"/>
            <xsd:enumeration value="Re"/>
            <xsd:enumeration value="Os"/>
            <xsd:enumeration value="Ir"/>
            <xsd:enumeration value="Pt"/>
            <xsd:enumeration value="Au"/>
            <xsd:enumeration value="Hg"/>
            <xsd:enumeration value="Tl"/>
            <xsd:enumeration value="Pb"/>
            <xsd:enumeration value="Bi"/>
            <xsd:enumeration value="Po"/>
            <xsd:enumeration value="At"/>
            <xsd:enumeration value="Rn"/>
            <xsd:enumeration value="Fr"/>
            <xsd:enumeration value="Ra"/>
            <xsd:enumeration value="Ac"/>
            <xsd:enumeration value="Th"/>
            <xsd:enumeration value="Pa"/>
            <xsd:enumeration value="U"/>
            <xsd:enumeration value="Np"/>
            <xsd:enumeration value="Pu"/>
            <xsd:enumeration value="Am"/>
            <xsd:enumeration value="Cm"/>
            <xsd:enumeration value="Bk"/>
            <xsd:enumeration value="Cf"/>
            <xsd:enumeration value="Es"/>
            <xsd:enumeration value="Fm"/>
            <xsd:enumeration value="Md"/>
            <xsd:enumeration value="No"/>
            <xsd:enumeration value="Lr"/>
            <xsd:enumeration value="Rf"/>
            <xsd:enumeration value="Db"/>
            <xsd:enumeration value="Sg"/>
            <xsd:enumeration value="Bh"/>
            <xsd:enumeration value="Hs"/>
            <xsd:enumeration value="Mt"/>
            <xsd:enumeration value="Ds"/>
            <xsd:enumeration value="Rg"/>
            <xsd:enumeration value="Cn"/>
            <xsd:enumeration value="Nh"/>
            <xsd:enumeration value="Fl"/>
            <xsd:enumeration value="Mc"/>
            <xsd:enumeration value="Lv"/>
            <xsd:enumeration value="Ts"/>
            <xsd:enumeration value="Og"/>
            <xsd:enumeration value="toy"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="note-type">
        <xsd:sequence>
            <xsd:element form="unqualified" minOccurs="0" name="title" type="xsd:string"/>
            <xsd:element form="unqualified" minOccurs="0" name="date" type="xsd:date"/>
            <xsd:element form="unqualified" minOccurs="0" name="text" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="citation-type">
        <xsd:sequence>
            <xsd:element form="unqualified" minOccurs="0" name="document-type">
                <xsd:annotation>
                    <xsd:documentation>The type of publication</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="book"/>
                        <xsd:enumeration value="journal"/>
                        <xsd:enumeration value="report"/>
                        <xsd:enumeration value="patent"/>
                        <xsd:enumeration value="thesis"/>
                        <xsd:enumeration value="conference proceedings"/>
                        <xsd:enumeration value="archived document"/>
                        <xsd:enumeration value="personal correspondence"/>
                        <xsd:enumeration value="published translation"/>
                        <xsd:enumeration value="unspecified"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element form="unqualified" minOccurs="0" name="title" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Title of the publication</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="author">
                <xsd:annotation>
                    <xsd:documentation>Author of publication</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element form="unqualified" minOccurs="0" name="given-name" type="xsd:string"/>
                        <xsd:element form="unqualified" minOccurs="0" name="surname" type="xsd:string"/>
                        <xsd:element form="unqualified" minOccurs="0" name="suffix" type="xsd:string"/>
                        <xsd:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="affiliation" type="xsd:string"/>
                        <xsd:element form="unqualified" minOccurs="0" name="ORCID" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element form="unqualified" minOccurs="0" name="publication-name" type="xsd:string"/>
            <xsd:element form="unqualified" minOccurs="0" name="publication-date">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element form="unqualified" minOccurs="0" name="year" type="xsd:gYear"/>
                        <xsd:element form="unqualified" minOccurs="0" name="month" type="xsd:gMonth"/>
                        <xsd:element form="unqualified" minOccurs="0" name="day" type="xsd:gDay"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element form="unqualified" minOccurs="0" name="volume" type="xsd:string"/>
            <xsd:element form="unqualified" minOccurs="0" name="issue" type="xsd:string"/>
            <xsd:element form="unqualified" minOccurs="0" name="abstract" type="xsd:string"/>
            <xsd:element form="unqualified" minOccurs="0" name="pages" type="xsd:string"/>
            <xsd:element form="unqualified" minOccurs="0" name="DOI" type="xsd:string"/>
            <xsd:element form="unqualified" minOccurs="0" name="URL" type="xsd:anyURI"/>
            <xsd:element form="unqualified" minOccurs="0" name="bibtex" type="xsd:string"/>
            <xsd:element form="unqualified" minOccurs="0" name="text-bibliography" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="interatomic-potential-type">
        <xsd:sequence>
            <xsd:element form="qualified" name="key" type="xsd:string"/>
            <xsd:element form="qualified" name="id" type="xsd:string"/>
            <xsd:element form="qualified" name="URL" minOccurs="0" maxOccurs="1" type="xsd:string" />
            <xsd:element form="qualified" minOccurs="0" name="record-version" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="description">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="local" type="note-type"> </xsd:element>
                        <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="citation" type="citation-type"> </xsd:element>
                        <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="notes" type="note-type"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="keyword" type="xsd:string"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="implementation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element form="qualified" minOccurs="0" name="key" type="xsd:string"/>
                        <xsd:element form="qualified" minOccurs="0" name="id" type="xsd:string"/>
                        <xsd:element form="qualified" minOccurs="0" name="status" type="xsd:string"/>
                        <xsd:element form="qualified" minOccurs="0" name="date" type="xsd:date"/>
                        <xsd:element form="qualified" minOccurs="0" name="type" type="xsd:string"/>
                        <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="notes" type="note-type"/>
                        <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="artifact">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element form="qualified" minOccurs="0" name="key" type="xsd:string"/>
                                    <xsd:element form="qualified" minOccurs="0" name="id" type="xsd:string"/>
                                    <xsd:element form="qualified" minOccurs="0" name="status" type="xsd:string"/>
                                    <xsd:element form="qualified" minOccurs="0" name="type" type="xsd:string"/>
                                    <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="notes" type="note-type"/>
                                    <xsd:element form="qualified" minOccurs="0" name="web-link">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element form="qualified" name="URL" type="xsd:anyURI"/>
                                                <xsd:element form="qualified" minOccurs="0" name="label" type="xsd:string"/>
                                                <xsd:element form="qualified" minOccurs="0" name="link-text" type="xsd:string"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="link">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element form="qualified" minOccurs="0" name="key" type="xsd:string"/>
                                    <xsd:element form="qualified" minOccurs="0" name="id" type="xsd:string"/>
                                    <xsd:element form="qualified" minOccurs="0" name="status" type="xsd:string"/>
                                    <xsd:element form="qualified" minOccurs="0" name="type" type="xsd:string"/>
                                    <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="notes" type="note-type"/>
                                    <xsd:element form="qualified" minOccurs="0" name="web-link">
                                        <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element form="qualified" name="URL" type="xsd:anyURI"/>
                                                <xsd:element form="qualified" minOccurs="0" name="label" type="xsd:string"/>
                                                <xsd:element form="qualified" minOccurs="0" name="link-text" type="xsd:string"/>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="parameter" type="parameter-type"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="element" type="chemical-element-type"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="fictional-element" type="chemical-element-type"/>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="other-element" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="parameter-type">
        <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="value" type="xsd:float"/>
            <xsd:element form="qualified" minOccurs="0" name="unit" type="xsd:string"/>
            <xsd:element form="qualified" minOccurs="0" name="name" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="interatomic-potential" type="interatomic-potential-type"> </xsd:element>
</xsd:schema>